---
layout: default
---

{% assign intro = site.home | where: 'title', 'intro' | first  %}

<section class="Intro">
	<div class="Container">
		<div class="Intro-header">
			<h1 class="Headline">WELCOME TO SHREDDIT!</h1>
			<div class="carousel" data-flickity>
				{% for image in intro.gallery-images %}
					<div class="gallery-cell Intro-image">
						<div class="FlexEmbed">
							<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
							<div class="FlexEmbed-content">
								<div
									class="u-posAbsoluteCenter CoverImage"
									style="background-image: url('{{ image }}')">
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>



<div class="Container">
	<h1 class="page-heading">Latest Articles</h1>
	<div class="Grid Grid--withGutter">
		<div class="Grid-cell u-size1of3">
			<h3>Spot Etiquette</h3>
			<a class="Post" href="/reads/spot-Etiquette.html">
			<img src="/uploads/mtn.jpeg"></a>
		</div>
		<div class="Grid-cell u-size1of3">
			<h3>Board Building for Noobs</h3>
			<a class="Post" href="/reads/n00b-Guide.html">
			<img src="/uploads/boarder.png"></a>
		</div>
		<div class="Grid-cell u-size1of3">
			<h3>Ingrediants for a good skate trip</h3>
			<a class="Post" href="/reads/good-skate-trip.html">
			<img src="/uploads/boarder.png"></a>
		</div>
	</div>
</div>

<!-- <h1 class="page-heading">Posts</h1>

<ul class="post-list">
	{% for post in site.posts %}
	<li>
		<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

		<h2>
	  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	</h2>
	</li>
	{% endfor %}
</ul> -->

<div class="Container">
	<h1 class="page-heading">Gear</h1>
	<div class="Grid Grid--alignCenter Grid--withGutter">
		<div class="Grid-cell u-size1of3">
			<h3>Original</h3>
			<a class="Post" href="/gear/original.html">
			<img src="/uploads/og.jpeg">
		</a>
		</div>
		<div class="Grid-cell u-size1of3">
			<h3>Loaded</h3>
			<a class="Post" href="/gear/loaded.html">
			<img src="/uploads/Loaded.jpeg">
		</a>
		</div>
		<div class="Grid-cell u-size1of3">
			<h3>Rayne</h3>
			<a class="Post" href="/gear/rayne.html">
			<img src="/uploads/Rayne.png">
		</a>
		</div>
	</div>
</div>
<br>
<div class="Container" style="border: 2px solid black">
	<!--  add scss class for aboutSite-->
	<div class="aboutSite">
		<header class="aboutHeader">What <em>Shreddit</em> is About </header>
		<p>
				<em>Shreddit</em> is more than just a site, more than just an idea or concept. Its a community, Linked not just digitally but physically.
				Connecting skaters of all sorts WORLD WIDE! Intergrating the functionality of multiple popular social networking sites, The main goal is Connectivity.
				Connectivity between artists. Whether it be enjoyment of just watching the sport(s), Recording it for someone else, or just enjoy skating...<a href="/about">Read More..</a>

	</div>
</div>
