

// --------------------------------------------------------------------------
//   THIS IS THE 'INTRO' COMPONENT
// --------------------------------------------------------------------------


.Intro-header {
	margin-top: 40px;
	margin-bottom:10%;
}

.Intro-avatar {
	display: inline-block;
	float: left;
	height: 44px;
	margin-right: 12px;
}
