

// --------------------------------------------------------------------------
//   THIS IS THE 'INTRO' COMPONENT
// --------------------------------------------------------------------------


.Intro {

}

.Intro--feature {

}

.Intro-header {
	margin: 10% 0;

}

.Intro-image {
	border-radius: 1.5%
}

.Intro-avatar {
	display: inline-block;
	float: left;
	height: 44px;
	margin: 5px 12px 0 20px;
	border-radius: 25%;
}
