

// --------------------------------------------------------------------------
//   COMPONENT: BLOG POSTS
// --------------------------------------------------------------------------

.gear{
	img{
			width:175px;     
			height:175px;
	}
}

.Post-title {
	margin: space(3) 0;
	font-size: 42px;
	letter-spacing: -1px;
	line-height: 1;
}
