

// --------------------------------------------------------------------------
//   COMPONENT: BLOG POSTS
// --------------------------------------------------------------------------


.Post {
	margin-bottom: space(6);
}

.Post-title {
	margin: space(3) 0;
	font-size: 42px;
	letter-spacing: -1px;
	line-height: 1;
}
